.header{
    background: var(--accent-5);
    border-bottom-left-radius: var(--radius-5);
    border-bottom-right-radius: var(--radius-5);
    margin-left: var(--space-5);
    margin-right: var(--space-5);
    box-shadow: 5px 5px 10px var(--accent-9);
}